{% extends 'Layout/Base/base.html.twig' %}

{% block body %}
    <div class="min-h-full" id="full-container">
        <nav class="bg-white border-b border-gray-200">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex justify-between h-16">
                    <div class="flex">
                        <div class="flex-shrink-0 flex items-center">
                            <img class="block h-8 w-auto" src="https://static-cdn.jtvnw.net/jtv_user_pictures/8c5df566-e663-4a75-b85f-edd859d28905-profile_image-70x70.png" alt="LaChlamydia">
                        </div>
                        {% set tabs = [
                            {
                                'content': 'Tableau de bord',
                                'route': 'app_home',
                            },
                            {
                                'content': 'Bingo',
                                'route': 'app_bingo_listing_list_bingo',
                            },
                            {
                                'content': 'Configuration',
                                'route': 'app_user_edition_edit_configuration',
                            },
                            {
                                'content': 'Déconnexion',
                                'route': 'app_user_authentication_logout_user',
                            }
                        ] %}
                        {% set active_class = 'border-indigo-500 text-gray-900' %}
                        {% set passive_class = 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700' %}
                        <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
                            {% for tab in tabs %}
                            <a href="{{ path(tab.route) }}" class="{{ tab.route == app.request.get('_route') ? active_class : passive_class }} inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium" {% if tab.route == app.request.get('_route') %}aria-current="page"{% endif %}>
                                {{ tab.content }}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="sm:hidden" id="mobile-menu">
                <div class="pt-2 pb-3 space-y-1">
                    {% set active_class = 'bg-indigo-50 border-indigo-500 text-indigo-700' %}
                    {% set passive_class = 'border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800' %}
                    {% for tab in tabs %}
                        <a href="{{ path(tab.route) }}" class="{{ tab.route == app.request.get('_route') ? active_class : passive_class }} block pl-3 pr-4 py-2 border-l-4 text-base font-medium" {% if tab.route == app.request.get('_route') %}aria-current="page"{% endif %}>
                            {{ tab.content }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </nav>

        <div class="py-10">
            <header>
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <h1 class="text-3xl font-bold leading-tight text-gray-900">
                        {% block body_title %}{% endblock body_title %}
                    </h1>
                </div>
            </header>
            <main>
                <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                    <div class="px-4 py-8 sm:px-0">
                        {% block body_content %}{% endblock body_content %}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock body %}